@page "/detalles/{id:int}"
@using Models
@using Services
@inject IProductoService ProductoService
<MudText Typo="Typo.h5">Detalles del Producto</MudText>
@if (producto == null)
{
    <p><em>Cargando...</em></p>
}
else
{
<MudCard>
    <MudCardHeader Class="blue lighten-2">
        <CardHeaderContent>
            <MudText Typo="Typo.h6">@producto.Nombre</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <MudText Typo="Typo.body2">@producto.Precio</MudText>
    </MudCardContent>
    <MudCardContent>
        <MudText Typo="Typo.body2">@producto.Imagen</MudText>
    </MudCardContent>
    <MudCardContent>
        <MudText Typo="Typo.body2">@producto.Descripcion</MudText>
    </MudCardContent>
    <MudCardActions Class="center">
        <img src="@producto.Imagen" alt="@producto.Nombre" Elevation="25" Class="rounded-lg" width="40%" height="auto" />
    </MudCardActions>
</MudCard>
}
@code {
    [Parameter]
    public int id { get; set; }
    Producto producto = new Producto();
    protected override async Task OnInitializedAsync()
    {
        if (id > 0)
            producto = await ProductoService.GetById(id);
    }
}
